outcmaes/*
sims_out/**/*
sims_out/**/*.png
__pycache__/**/*
*.out
.ipynb_checkpoints/
python-env/**/*
cmaes_test/**/*
figures/**/*
**/*.svg
**/*.png
**/*.zip
data/**/*
./scripts/*\d{2}.slurm
*.mp4
preprocessing
scripts/*

